/target/
target/
/classes/
.cucumber
/.idea/
/.settings/
/allure-results/
/test-output/
test-output/
/Default suite/
Default suite/
/Reports/
Reports/
/logs/
logs/
mylogs.log
mylogs
*.json
*.log
*.html
